@model IEnumerable<ABC_CRS.Course>

@{
    ViewBag.Title = "Courses";
}

<h2>Courses</h2>



<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.CourseTitle)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.CourseDescription)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Fees)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Instructors)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.NoOfDays)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.CourseTitle)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.CourseDescription)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Fees)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Instructors)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.NoOfDays)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.CourseCode }) |
            @Html.ActionLink("Details", "Details", new { id=item.CourseCode }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.CourseCode })
        </td>
    </tr>
}

</table>
